#payments{
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
#payments th{
    box-shadow: inset 70px 70px 100px -30px rgb(179, 177, 177);
}
#payments table,#payments td,#payments th{
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}