<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="marks_details">
        <table id="main" border="1">
          <tr id="head1">
            <th>Sl.No.</th>
            <th>ClassNbr</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Course Type</th>
            <th>Course System</th>
            <th>Faculty</th>
            <th>Slot</th>
          </tr>
          <tr>
            <td>1</td>
            <td>CH2022235002580</td>
            <td>STS3204</td>
            <td>JAVA Programming and Software Engineering Fundamentals	</td>
            <td>Soft Skill</td>
            <td>CAL</td>
            <td>ETHNUS (APT)</td>
            <td>F2+TF2</td>
          </tr>
          <tr>
            <td colspan="8">
                <table class="main1" border="1">
                    <tr>
                        <th>Sl.No.</th>
                        <th>Mark Title</th>
                        <th>Max. Mark</th>
                        <th>Weightage %</th>
                        <th>Status</th>
                        <th>Scored Mark</th>
                        <th>Weightage Mark</th>
                        <th>Weightage Mark</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Continuous Assessment Test - I</td>
                        <td>30</td>
                        <td>15</td>
                        <td>Present</td>
                        <td>25.0</td>
                        <td>12.5</td>
                        <td>CAT1-Examly MARKS UPLOAD</td>
                    </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>CH2022235002580</td>
            <td>STS3204</td>
            <td>JAVA Programming and Software Engineering Fundamentals	</td>
            <td>Soft Skill</td>
            <td>CAL</td>
            <td>ETHNUS (APT)</td>
            <td>F2+TF2</td>
          </tr>
          <tr>
            <td colspan="8">
                <table class="main1" border="1">
                    <tr>
                        <th>Sl.No.</th>
                        <th>Mark Title</th>
                        <th>Max. Mark</th>
                        <th>Weightage %</th>
                        <th>Status</th>
                        <th>Scored Mark</th>
                        <th>Weightage Mark</th>
                        <th>Weightage Mark</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Continuous Assessment Test - I</td>
                        <td>30</td>
                        <td>15</td>
                        <td>Present</td>
                        <td>25.0</td>
                        <td>12.5</td>
                        <td>CAT1-Examly MARKS UPLOAD</td>
                    </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>CH2022235002580</td>
            <td>STS3204</td>
            <td>JAVA Programming and Software Engineering Fundamentals	</td>
            <td>Soft Skill</td>
            <td>CAL</td>
            <td>ETHNUS (APT)</td>
            <td>F2+TF2</td>
          </tr>
          <tr>
            <td colspan="8">
                <table class="main1" border="1">
                    <tr>
                        <th>Sl.No.</th>
                        <th>Mark Title</th>
                        <th>Max. Mark</th>
                        <th>Weightage %</th>
                        <th>Status</th>
                        <th>Scored Mark</th>
                        <th>Weightage Mark</th>
                        <th>Weightage Mark</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Continuous Assessment Test - I</td>
                        <td>30</td>
                        <td>15</td>
                        <td>Present</td>
                        <td>25.0</td>
                        <td>12.5</td>
                        <td>CAT1-Examly MARKS UPLOAD</td>
                    </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>CH2022235002580</td>
            <td>STS3204</td>
            <td>JAVA Programming and Software Engineering Fundamentals	</td>
            <td>Soft Skill</td>
            <td>CAL</td>
            <td>ETHNUS (APT)</td>
            <td>F2+TF2</td>
          </tr>
          <tr>
            <td colspan="8">
                <table class="main1" border="1">
                    <tr>
                        <th>Sl.No.</th>
                        <th>Mark Title</th>
                        <th>Max. Mark</th>
                        <th>Weightage %</th>
                        <th>Status</th>
                        <th>Scored Mark</th>
                        <th>Weightage Mark</th>
                        <th>Weightage Mark</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Continuous Assessment Test - I</td>
                        <td>30</td>
                        <td>15</td>
                        <td>Present</td>
                        <td>25.0</td>
                        <td>12.5</td>
                        <td>CAT1-Examly MARKS UPLOAD</td>
                    </tr>
                </table>
            </td>
          </tr>
        </table>
      </div>
</body>
</html>